<h2>Résumé de Mai 2012</h2>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th></th>
        {% for user in datas.users %}
            <th>{{ user.name }}</th>
        {% else %}
            <td colspan="2">Aucun utilisateur</td>
        </tr>
        {% endfor %}
    </thead>
    <tbody>
        <tr>
            <td>Dépenses</td>
        {% for user in datas.users %}
            <td>{{ user.totalSpendings }}&#8364;</td>
        {% else %}
            <td colspan="2">Aucun utilisateur</td>
        {% endfor %}
        </tr>
        <tr>
            <td>Avances</td>
        {% for user in datas.users %}
            <td>{{ user.totalAdvances }}&#8364;</td>
        {% else %}
            <td colspan="2">Aucun utilisateur</td>
        {% endfor %}
        </tr>
    </tbody>
</table>
<p>
    <h3>Dépenses :</h3><br />{{ spendingCalcul.high.amount }}-{{ spendingCalcul.low.amount }}={{ spendingCalcul.interResult }}/2={{ spendingCalcul.result }} -> {{ spendingCalcul.low.name }} doit {{ spendingCalcul.result }}&#8364; à {{ spendingCalcul.high.name }}<br />
    <h3>Avances :</h3><br />{{ advanceCalcul.high.amount }}-{{ advanceCalcul.low.amount }}={{ advanceCalcul.result }} -> {{ advanceCalcul.low.name }} doit {{ advanceCalcul.result }}&#8364; à {{ advanceCalcul.high.name }}<br />
    <h3>Total :</h3><br />
    {% if finalCalcul is null %}
    Le compte est bon.
    {% else %}
    {{ finalCalcul.high.amount }}-{{ finalCalcul.low.amount }}={{ finalCalcul.result }} -> {{ finalCalcul.high.name }} doit {{ finalCalcul.result }}&#8364; à {{ finalCalcul.low.name }}
    {% endif %}
</p>
