<div class="span6 well user_data">
    <h1>{{ user.name }}</h1>
    <table class="table table-bordered table-condensed">
        <caption>Dépenses</caption>
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>Montant</th>
                <th style="width: 22%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for categoryId, category in user.categories %}
                <tr>
                    <td>{{ category.title }}</td>
                    <td>{{ category.amount }}&#8364;</td>
                    <td>
                        <button class="btn btn-success btn-mini add_spending_user" rel="tooltip" title="Ajouter une dépense à la catégorie" data-related-form="new_spending_user{{ userId }}_category{{ categoryId }}">
                            <i class="icon-plus icon-white"></i>
                        </button>
                    </td>
                </tr>
                <tr id="new_spending_user{{ userId }}_category{{ categoryId }}" class="new_spending">
                    <td colspan="3">
                        <form action="{{ path('add_spending', {'user': userId, 'category': categoryId}) }}" class="form-inline" method="get" accept-charset="utf-8">
                            <input type="text" name="spending_description" placeholder="description" required="required" />
                            <div class="input-append">
                                <input type="text" name="spending_amount" placeholder="montant" required="required" /><span class="add-on">&#8364;</span>
                            </div>
                            <button type="submit" class="btn">Ajouter</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="table table-bordered table-condensed">
                            <tbody>
                                {% for spendingId, spending in category.spendings %}
                                    <tr>
                                        <td>{{ spending.description }}</td>
                                        <td>{{ spending.amount }}&#8364;</td>
                                        <td>
                                            <a class="btn btn-danger btn-mini delete_spending" rel="tooltip" title="Supprimer la dépense" href="{{ path('delete_spending', {'spending' : spendingId}) }}">
                                                <i class="icon-trash icon-white"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr><td colspan="3">Aucune dépense.</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="3">Aucune catégorie.</td></tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <td colspan="2">{{ user.totalSpendings}}&#8364;</td>
            </tr>
        </tfoot>
    </table>

    <table class="table table-bordered table-condensed"">
        <caption>
            Avances
            <button class="btn btn-success btn-mini add_advance_user" rel="tooltip" title="Ajouter une avance" data-related-form="new_advance_user{{ userId }}">
                <i class="icon-plus icon-white"></i>
            </button>
        </caption>
        <thead>
            <th>Description</th>
            <th>Montant</th>
        </thead>
        <tbody>
            <tr id="new_advance_user{{ userId }}" class="new_advance">
                <td colspan="3">
                    <form action="{{ path('add_advance', {'user': userId}) }}" class="form-inline" method="get" accept-charset="utf-8">
                        <input type="text" name="advance_description" placeholder="description" required="required" />
                        <div class="input-append">
                            <input type="text" name="advance_amount" placeholder="montant" required="required" /><span class="add-on">&#8364;</span>
                        </div>
                        <button type="submit" class="btn">Ajouter</button>
                    </form>
                </td>
            </tr>
            {% for advanceId, advance in user.advances %}
                <tr>
                    <td>{{ advance.description }}</td>
                    <td>{{ advance.amount }}&#8364;</td>
                    <td>
                        <a class="btn btn-danger btn-mini delete_advance" rel="tooltip" title="Supprimer l'avance" href="{{ path('delete_advance', {'advance' : advanceId}) }}">
                            <i class="icon-trash icon-white"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="3">Aucune avance.</td></tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <td colspan="2">{{ user.totalAdvances }}&#8364;</td>
            </tr>
        </tfoot>
    </table>
</div>
